 #scene {
     width: 400px;
     height: 400px;
     background-color: #aaf;
     overflow: hidden;
     margin: 16px auto;
     position: relative;
 }
 
 #tree {
     position: absolute;
     display: block;
     width: 200px;
     bottom: 80px;
     left: 100px;
 }
 
 #ground {
     position: absolute;
     display: block;
     width: 400px;
     bottom: 0;
 }
 
 .apple {
     position: absolute;
     top: 225px;
     left: 120px;
     width: 16px;
     height: auto;
     transition: top .5s ease;
 }